/* common style */
*{
    margin:0;
    padding:0;
    font-family: 'Work Sans', sans-serif;
}
:root{
    --primary-color:#FF42A5;
    --secondary-color:#A24FF0;;
    --third-color:#534C64;
}
.btn{
    background-color:var(--primary-color);
}
.logo h3 span{
    color:var(--primary-color);
}
.instant-play-left p, figurecaption,.banner-text li{
    color:var(----third-color);
}
.btn{
    border:none;
    border-radius: 48px;
    /* background-color:#FF42A5; */
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding:20px 40px;
    cursor: pointer;
    margin:40px 0;
}
.primary{
    margin-right: 24px;
}

.secondary{
    background-color:#4EC5F7;
    }
/* header style start */
/* navbar */
header{
    /* height: 1000px; */
}
.navbar{
    display: flex;
    justify-content: space-around;
    padding:20px 0px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
/* logo design */
.logo{
    display: flex;
    align-items: center;
    gap:10px;
}
.logo img{
    width:5.4rem;
    height: 2.5rem;
}
.logo h3{
    /* text-align: center; */
    font-size: 2.8rem;
    font-weight: 700;
}
/* .logo h3 span{
    color:#FF42A5;
} */
/* menus design */
.menus{
    display: flex;
    gap:30px;
    align-items:center;
}
.menus li{
    list-style: none;
    color: #3C354F;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
}
.menus li:last-child{
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding:16px;
}
/* banner section */
.banner{
    display: flex;
    justify-content: space-between;
    gap:70px;
   
    align-items: center;
    padding:35px 170px;
    background-image: url('./images/Group14.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size:55% 100%;
    /* border:1px solid red; */
}
.banner-text,.banner-image{
    width:50%;
}

.banner-text h2{
    color: #0B0223;
    /* text-align: center; */
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-text h1{
    /* text-align: center; */
    font-size: 5.94rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #A24FF0;
    margin-bottom: 24px;
}
.banner-image img{
    width:100%;
}
.banner-text li{
    list-style: none;
    /* color: #534C64; */
/* text-align: center; */
    font-size: 1.25rem;
    font-weight: 500;
    margin:17px 0;
   
}
.banner-text li i{
    margin-right:15px;
    width:24px;
    height: 24px;
}

/* main section */
/* funny videos */
section{
    padding:50px 175px;
   
}
.funny-videos h2, .funny-videos p{
    text-align: center;
}
.funny-videos p{
    margin:16px 0 48px 0;
}
.boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:24px;
}

.box{
    max-width: 342px;
    max-height: 400px;
    position: relative;
}
.box img{
    max-width: 100%;
    max-height: 100%;
}
figure{
    cursor: pointer;
}
figurecaption{
    width: 100%;
    /* color: #534C64; */
    font-size: 1rem;
    font-weight: 500;

}

.overlay{
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    opacity: 0;
    background-color:rgb(24, 23, 23);
    background-blend-mode: overlay;
    color:#f80683;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    height:81.2%;
    border-radius:8px;
    transition: opacity ease-in-out 0.3s;
}
figure:hover .overlay{
    opacity:0.8;
    border: 3px solid #FF42A5; 
}

.content{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
}

/* instant play */
.instant-play-container{
    display: flex;
    align-items: center;
    gap:120px;
}
.instant-play-left, .instant-play-right{
    width:50%;
    text-align: right;
    margin: 0 auto;
    /* border:2px solid rgb(17, 177, 89); */
}
.instant-play-left h2{
    font-size: 3rem;
    font-weight: 700;
}
.instant-play-left h2 span,.funny-videos h2 span{
   color: #8758F1;
}
.instant-play-left p{
    width:80%;
    /* color: #534C64; */
    /* margin: 0 auto; */
    margin-left: auto;
    font-size: 1.125rem;
    font-weight: 400;

}

.instant-play-right{
    position: relative;
}
.second-img{
    position:absolute;
   top:17rem;
   left:-4rem;
    width:50%;
    
}
.bigimage {
    width:100%;
    height:100%;
}

/* game section */
.games{
    margin:100px 0 0 0;
    padding-top:100px;
    padding-bottom: 100px;
    background-color: rgba(255, 66, 164, 0.1);
}
.gamescontainer{
   display: flex;
   flex-wrap: wrap;
   align-content:center;
   justify-content: center;
    column-gap: 5px;
    row-gap: 15px;
    
}
.game-btn img{
    height: 40px;
    width: 40px;
}
.game-btn{
    display: flex;
    align-items:center;
    gap:5px;
   /* margin-right: 10px; */
    border:none;
    border-radius: 50px;
    background-color: #FFF;
    color: #0B0223;
    font-size: 1em;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
}
.game-btn:hover{
    border:2px solid #FF42A5;
    color: #FF42A5;
}
footer{
    background-color:#0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    padding:100px;
}
footer .logo, .footer-keywrd{
    color:white;
}
.footerkeyword-2, footer p{
    color:rgba(255, 255, 255, 0.60);
}
.footer-keywrd,.footerkeyword-2,.footer-icon{
    display: flex;
    gap:30px;
}
footer p{
    display :inline-block;
}
.footer-icon i,footer h5{
    cursor: pointer;
}

/* footer */
/* mobile view */
@media screen and (max-width:576px) {
    /* navbar */
    .navbar{
        /* text-align: center; */
       
        flex-direction: column;
        gap:30px;
        box-shadow:none;
    }
    .navbar .logo{
        margin:0 auto;
    }
    .menus{
        flex-direction: column;
    }
    /* banner */
    .banner{
        margin:0 auto;
        flex-direction: column-reverse;
        padding:0px;
        background-image:none;
    }
    ul{
        width:68%;
        margin:0 auto;
    }
    .banner-text,.banner-image{
        width:100%;
    }
    .banner-image{
        padding: 20px;
    }
    .banner-text{
        background-image: url('./images/Group14.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size:100% 100%;
        text-align: center;
        /* padding:100px; */
    }
    .banner-text li{
        text-align:left;
    }

    /* main */
    section{
        margin:0px auto;
        text-align: center;
        padding:35px 7px;
    }
    .boxes{
        grid-template-columns: repeat(1,1fr);
        gap:70px;
       
        justify-items:center;
       
    }
    .overlay{
        height: 100%;
    }

    /* instant play */
.instant-play-container{
 flex-direction: column;   
 gap:70px;
}
.instant-play-left,.instant-play-right {
    width:100%;
    text-align: center;
    margin:0 auto;
    }
.instant-play-left p{
text-align:center;
margin:0 auto;
}
.bigimage {
    width:70%;
    height:100%;
}
.second-img{
    /* top:20rem; */
    left:2rem;
    /* border:2px solid red; */
    width: 30%;
}


/* games */
.games{
    margin : 100px 0 0 0;
    padding-top:50px;
    padding-bottom: 50px;
}
.gamescontainer{
    /* font-size: 0.6em; */
    padding:0 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:5px;
   row-gap:35px;
 margin:0 10px;
 }
 .game-btn{
    width:fit-content;
    font-size:0.7em;
    padding-left:5px;
    padding-right: 8px;
 }
 .game-btn img{
    height: 20px;
    width: 20px;
}

 /* footer */
 footer{
    text-align: center;
 }
 .footer-keywrd,.footer-icon{
    width:max-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
 }
 .footerkeyword-2{
    width:max-content;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 footer p{
    margin:0 auto;
    width:max-content;
    display :block;
}
}

/* tablet view */
@media screen and (min-width: 576px) and (max-width:960px){

    /* banner */
    .banner{
        margin:0 auto;
        flex-direction: column-reverse;
        padding:0px;
        background-image:none;
    }
    ul{
        width:50%;
        margin:0 auto;
    }
    .banner-text,.banner-image{
        width:100%;
    }
    .banner-image{
        padding: 20px;
    }
    .banner-text{
        background-image: url('./images/Group14.png');
        background-repeat: no-repeat;
        background-position: left;
        background-size:100% 100%;
        text-align: center;
        /* padding:100px; */
    }
    .banner-text li{
        text-align:left;
    }

    /* main */
    section{
        margin:0px auto;
        text-align: center;
        padding:35px 7px;
    }
    .boxes{
        grid-template-columns: repeat(1,1fr);
        gap:70px;
       
        justify-items:center;
       
    }
    .overlay{
        height: 100%;
    }

    /* instant play */
.instant-play-container{
 flex-direction: column;   
 gap:70px;
}
.instant-play-left,.instant-play-right {
    width:100%;
    text-align: center;
    margin:0 auto;
    }
.instant-play-left p{
text-align:center;
margin:0 auto;
}
.bigimage {
    width:70%;
    height:100%;
}
.second-img{
    top:20rem;
    left:2rem;
    /* border:2px solid red; */
    width: 30%;
}


/* games */
.games{
    margin : 50px 0 0 0;
}
.gamescontainer{
    /* display: grid;
    grid-template-columns: repeat(3,1fr); */
    gap: 35px;
   
 }
 .game-btn{
    width:max-content;
 }


}

